<div ng-repeat="city in cities">
  <div class="city {{city.id}}">
    <h1 class="city-name">
      {{city.name}}
    </h1>

    <h2 class="local-time">
      {{city.localTime()}}
    </h2>

    <h2 class="local-weather">
      <i class="icon {{city.weatherIcon()}}"></i>
      {{city.temperature()}}&deg; F
    </h2>

    <div ng-repeat="teamMember in city.teamMembers" class="team-members">
      <img ng-src="{{teamMember.email | gravatarUrl}}" data-tooltip="{{teamMember.name}}" class="team-member-photo">
    </div>
  </div>
</div>
