<div ng-repeat="city in cities">
  <div class="city {{city.id}}">
    <h1 class="city-name">
      {{city.name}}
    </h1>

    <h2 class="local-time">
      <img src="images/clock.png" class="clock"></img>
      {{city.localTime()}}
    </h2>

    <h2 class="local-weather">
      <i class="icon {{city.weatherIcon()}}"></i>
      {{city.temperature}}&deg; F
    </h2>

    <div ng-repeat="teamMember in city.teamMembers" ng-init="firstCity = $parent.$first" class="team-members team-members-large">
      <img ng-src="{{teamMember.email | gravatarUrl}}" data-toggle="tooltip"
           data-placement="{{firstCity && 'bottom' || 'top'}}" title="{{teamMember.name}}"
           class="team-member-photo" />
    </div>

    <div ng-repeat="teamMember in city.teamMembers" class="team-members team-members-small">
      <img ng-src="{{teamMember.email | gravatarUrl}}" data-toggle="tooltip"
           data-placement="top" title="{{teamMember.name}}" class="team-member-photo" />
    </div>
  </div>
</div>
